{% extends "t_base.html" %} {% block content %} {% load static %}
<div>
    <style>
        .gameList {
            display: flex;
            flex-direction: column
        }
        .game {
            border: 1px solid black;
            margin: 4px;
            height: 60px;
            width: 280px;
        }
    </style>
    {% if user.is_authenticated %}
        <h1>Welcome {{user.username}}</h1>
        {% if user.teacher.authorized %}
            <h2>Current Games</h2>
            <div class="gameList">
                <a class="teacherGameLink createLink">   
                    <img class="createIcon" src="{% static 'images/create-icon.svg' %}" alt="create" />
                    <p class="createLinkText" href="/teacher/newGame">Create New Game</p>
                </a>
                {% for game in games %}
                    <a href={{ game.url }} class="teacherGameLink" >
                        <p class="gameLink">{{game.name}}</p>
                    </a>
                {% endfor %}
            </div>
        {% elif user.teacher.confirmed %}
            <p>Your email needs to be confirmed by our administrator.</p>
        {% else %}
            <h2>You still haven't confirmed your email yet</h2>
            <h3>Click <a href="/teacher/sendEmail">here</a> to send it again</h3>
        {% endif %}
            <a href="/teacher/logout">Logout</a>

    {% else %}
        <div class="accountAuth">
            <h1>Teacher Account</h1>
            <a class="home_button" href="/teacher/register"><h1>Register</h1></a>
            <a class="home_button" href="/teacher/login"><h1>Login</h1></a>
        </div>
    {% endif %}
    {% endblock %}
</div>