{% extends "t_base.html" %} {% block content %}
<div class="accountWrapper">
  <div class="row newGameContainer">
    <div class="newGameSubContainer">
      <h1>New Game</h1>
      <div class="newGameColumn">
        <p>Class Code: {{game.code}}</p>
        <a class="secondaryButton" href="/teacher">Back</a>
      </div>
    </div>
    <div class="newGameSubContainer">
      <h1>Add Players</h1>
      <form method="post" class="column">
        {% csrf_token %}
        <div class="row">
          <label for="gameName" class="gameNameLabel">Game Title:</label>
          <input
            type="text"
            id="gameName"
            name="gameName"
            class="gameName"
            placeholder="{{game.name}}"
          />
        </div>
        <label for="players"></label>
        <textarea
          id="players"
          name="players"
          class="newGameTextBox"
          placeholder="student1@gmail.com&#10;student2@gmail.com&#10;student3@gmail.com"
        ></textarea>
        <input type="submit" value="Add Players" class="ctaButton"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}
