{% extends "t_base.html" %} {% block content %}
<div class="accountWrapper">
  <div class="row">
    <form method="post" class="row newGameContainer">
      <div class="newGameSubContainer">
        <h1>New Game</h1>
        <div class="newGameColumn">
          <div class="column">
            <div class="setupItemContainer">
              <div class="setupItem">{{gameSetupForm.irrigationCost.label}}</div>
              <div>{{gameSetupForm.irrigationCost}}</div>
            </div>
            <div class="setupItemContainer">
              <div class="setupItem">{{gameSetupForm.nitrogenCost.label}}</div>
              <div>{{gameSetupForm.nitrogenCost}}</div>
            </div>
            <div class="setupItemContainer">
              <div class="setupItem">{{gameSetupForm.cornPrice.label}}</div>
              <div>{{gameSetupForm.cornPrice}}</div>
            </div>
          </div>

          <a class="secondaryButton" href="/teacher">Back</a>
        </div>
      </div>
      <div class="column">
        <h1>Add Players</h1>
        {% csrf_token %}
        <div class="row">
          <label for="gameName" class="gameNameLabel">Game Title:</label>
          <input
            type="text"
            id="gameName"
            name="gameName"
            class="gameName"
            placeholder="{{game.name}}"
            required
          />
        </div>
        <b style="margin: 12px 0px">Class Code: {{game.code}}</b>
        <label for="players"></label>
        <textarea
          id="players"
          name="players"
          class="newGameTextBox"
          placeholder="student1@gmail.com&#10;student2@gmail.com&#10;student3@gmail.com"
        ></textarea>
        <input type="submit" value="Create Game" class="ctaButton" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
