{% extends "t_base.html" %} {% block content %}
<div class="accountWrapper">
  <h1>New Game</h1>
  <h3>Current Players</h3>
  {% for player in game.players %}
  <div>{{player}}</div>
  {% endfor %}
  <h3>Add Players</h3>
  <form method="post" class="column newGameContainer">
      {% csrf_token %}
      <label for="gameName">Game Title:</label>
      <input type="text" id="gameName" name="gameName" placeholder="{{game.name}}"/>
      <label for="players"></label>
      <textarea
        id="players"
        name="players"
        class="newGameTextBox"
        placeholder="student1@gmail.com&#10;student2@gmail.com&#10;student3@gmail.com"
      ></textarea>
      <input type="submit" value="Add Players" />
      <a href="{{game.url2}}">Create Game</a>
  </form>
  <a href="/teacher">Done</a>
</div>
{% endblock %}
