{% extends "t_base.html" %} {% block content %}
<div class="accountWrapper">
  <h1 class="header">Players</h1>
  <p class="italic">Warning: You cannot come back to this page. Make sure to write down the names and passwords now.</p>
  <div class="row">
    <p class="bold">Class Code:</p>
    <p class="marginLeft">{{code}}</p>
  </div>
  <table class="gameSummaryTable marginBottom">
    <tr class="gameSummaryRow">
      <th class="gameSummaryCell gameSummaryHeader">Username</th>
      <th class="gameSummaryCell gameSummaryHeader">Password</th>
    </tr>
    {% for player in players %}
      <tr class="gameSummaryRow">
        <td class="gameSummaryCell">{{player.username}}</td>
        <td class="gameSummaryCell monospace">{{player.password}}</td>
      </div>
    {% endfor %}
  </table>
  <div class="row">
    <a class="secondaryButton" href="/teacher">Home</a>
    <a class="continueButton marginLeft" href={{ url }}>Next</a>
  </div>
</div>
{% endblock %}
