{% extends "t_base.html" %} {% load static %} {% block content %}
<div class="accountWrapper">
  <div class="teacherGamePage">
    <div class="teacherGameColumnLeft">
      <h1 class="header">Players</h1>
      <table class="gameSummaryTable">
        <tr class="gameSummaryRow">
          <th class="gameSummaryCell gameSummaryHeader">Player</th>
          <th class="gameSummaryCell gameSummaryHeader">Next Week</th>
          <th class="gameSummaryCell gameSummaryHeader">Caught Up</th>
        </tr>
        {% for player in players %} {% if player.week > week_limit %}
        <tr class="gameSummaryRow">
          <td class="gameSummaryCell">{{player.username}}</td>
          <td class="gameSummaryCell">{{player.week}}</td>
          <td class="gameSummaryCell">X</td>
        </tr>
        {% else %}
        <tr class="gameSummaryRow">
          <td class="gameSummaryCell">{{player.username}}</td>
          <td class="gameSummaryCell">{{player.week}}</td>
          <td class="gameSummaryCell"></td>
        </tr>
        {% endif %} {% endfor %}
      </table>
      <div class="row left">
        <a class="downloadButton" href="{{ url }}">
          <img
            class="downloadIcon"
            src="{% static 'images/download-icon.svg' %}"
            alt=""
          />
          Download Results
        </a>
      </div>
      <p class="weekChangeField">Code: {{code}}</p>
      <p class="weekChangeField">Week Limit: {{week_limit_display}}</p>
      <form method="post" class="row center weekChangeField">
        {% csrf_token %}
        <p class="weekChangeField">{{week_form.week}}</p>
        <input
          class="secondaryButton weekButton"
          type="submit"
          value="Change Week Limit"
        />
      </form>
      <a class="secondaryButton backButton" href="/teacher">Back</a>
    </div>
    <div class="teacherGameColumnRight center">
      <h1 class="header">Results</h1>
      <div>{{ group_cost_graph | safe }}</div>
      <div>{{ group_yield_graph | safe }}</div>
      {% if finalWeek %}
        <h1 class="header">Final Results</h1>
        <div>{{ group_leaching_graph | safe }}</div>
        <div>{{ group_ae_graph | safe }}</div>
        <div>{{ group_iwue_graph | safe }}</div>
        <div>{{ group_wnipi_graph | safe }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
