.introText {
  margin-bottom: 24px;
}
.formContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.hybridForm {
  display: flex;
  flex-direction: column;
  margin-right: 96px;
  min-width: 500px;
}
.hybridContainer {
  font-family: var(--sans-font);
}
.hybridContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hybridContainer div input {
  height: 26px;
  border: 2px solid #333;
  border-radius: 4px;
}
.hybridContainer div label {
  margin-top: 8px;
}
.fertilizerH1 {
  margin-bottom: 0px;
}
.fertForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
.fertForm p {
  margin-top: 0px;
  font-size: 16px;
}
.fertContainer {
  /* flex-grow: 2; */
  width: 100%;
  min-width: 500px;
  font-family: var(--sans-font);
}
.fertRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fertSelectRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.fertSelect {
  margin: 4px 0;
  width: 64px;
  margin-right: 8px;
}
.fertSelect select {
  width: 100%;
}
.bolded {
  font-weight: bold;
  margin-right: 10px;
}
.selectionRow {
  width: 400px;
}
.summaryContainer {
  padding: 0px 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

hr {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; /* full viewport width */
  border: none;
  border-top: 2px dashed black;
  margin: 24px 0 12px 0;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.subRow {
  display: flex;
  flex-direction: row;
  width: auto;
}
.inputRow {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
.weatherRow {
  margin-bottom: 32px;
  width: 14.25%;
}
.weatherBox {
  border: 2px solid var(--dark-border);
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
  background: var(--lighter-background-color);
  text-align: center;
  font-family: var(--sans-font);
  justify-content: flex-start;
  transition: background-color 0.2s;
}
.weatherBox:hover {
  background-color: var(--darker-background-color);
}
.weatherItem {
  margin: 16px 0px;
  padding: 0px 4px;
  display: flex;
  flex-direction: row;
}
.redItem {
  color: rgb(202, 43, 43);
}
.blueItem {
  color: rgb(45, 45, 191);
}
.weatherSubItem {
  margin-right: 10%;
}
.weeklySection {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.date {
  font-size: 24px;
  margin: 0px 8px;
  font-weight: lighter;
}
.irrigationLabel {
  margin-right: 12px;
  font-family: var(--sans-font);
}
.irrigationField select {
  border: 3px solid var(--primary-color);
}
.irrigationField select:active,
.irrigationField select:focus,
.irrigationField select:focus-within {
  border: 3px solid #444;
}
.graphContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.divRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  font-family: var(--sans-font);
}
.inputButton {
  margin-left: auto;
  padding: 0 6px;
}
.title {
  font-size: 48px;
  margin: 36px auto;
  font-weight: bold;
  text-align: center;
}

/* .historyTable {
  border-collapse: collapse;
} */
.historyLabel {
  text-align: left;
}
.historyData {
  text-align: right;
}
.sansFont {
  font-family: var(--sans-font);
}
.serifFont {
  font-family: var(--serif-font);
}
.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
/* .costTable {
  border-collapse: collapse;
} */
.costLabel {
  text-align: left;
}
.costData {
  text-align: right;
}
.formRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}
.continueButton .ctaButton {
  display: inline-block;
  border-radius: 6px;
  text-decoration: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--lighter-background-color);
  padding: 10px 14px;
  font-size: 20px;
  cursor: pointer;
  font-family: var(--sans-font);
  transition: background-color 0.2s;
}
.continueButton:hover {
  background-color: var(--darkened-primary-color);
}

/* FINAL PAGE CSS */
.finalSelection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
/* .infoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--sans-font);
} */
.graphContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.graphSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.finalInfoContainer {
  display: inline-block;
  margin: 28px;
  max-width: 500px;
  height: auto;
  box-sizing: border-box;
}
.finalInfoContainer div {
  width: 99%;
}
.downloadButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-color);
  margin: 12px auto;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: center;
  color: var(--lighter-background-color);
  font-family: var(--sans-font);
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  border: 2px solid var(--primary-color);
  text-decoration: none;
  max-width: inherit;
  transition: background-color 0.2s, border 0.2s;
}
.downloadButton:hover {
  background-color: var(--darkened-primary-color);
  border: 2px solid var(--darkened-primary-color);
  transition: background-color 0.2s, border 0.2s;
}
.downloadIcon {
  height: 24px;
  width: auto;
  margin-right: 20px;
}
.finalTable {
  width: 100%;
}

.gameAccountHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: -36px 0;
}

.className {
  font-size: 52px;
  text-decoration: none;
  justify-content: flex-start;
}
