.formContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.hybridForm {
  display: flex;
  flex-direction: column;
  margin-right: 96px;
  min-width: 500px;
}
.hybridContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hybridContainer div input {
  height: 26px;
  border: 1px solid #333;
  border-radius: 4px;
}
.hybridContainer div label {
  margin-top: 8px;
}
.fertilizerH1 {
  margin-bottom: 0px;
}
.fertForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
.fertForm p {
  margin-top: 0px;
  font-size: 16px;
}
.fertContainer {
  flex-grow: 2;
  width: 75%;
  min-width: 500px;
}
.fertContainer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fertContainer div select {
  margin: 4px 0;
  width: 64px;
}
.bolded {
  font-weight: bold;
  margin-right: 10px;
}
.selectionRow {
  width: 400px;
}
.summaryContainer {
  padding: 0px 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

hr {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; /* full viewport width */
  border: none;
  border-top: 2px dashed black;
  margin: 24px 0 12px 0;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.subRow {
  display: flex;
  flex-direction: row;
  width: auto;
}
.inputRow {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
}
.weatherRow {
  margin-bottom: 32px;
  width: 14.25%;
}
.weatherBox {
  border: 1px solid #2b2b2b;
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
  background: var(--lighter-background-color);
  text-align: center;
  transition: background-color 0.2s;
}
.weatherBox:hover {
  background-color: var(--darker-background-color);
}
.weatherItem {
  padding: 0px 4px;
  display: flex;
  flex-direction: row;
}
.redItem {
  color: rgb(202, 43, 43);
}
.blueItem {
  color: rgb(45, 45, 191);
}
.bolded {
  font-weight: bold;
  margin-right: 10px;
}
.weeklySection {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.date {
  font-size: 24px;
  margin: 0px 8px;
}
.irrigationLabel {
  margin-right: 12px;
}
.graphContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.divRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
}
.inputButton {
  margin-left: auto;
  padding: 0 6px;
}
.title {
  font-size: 36px;
  text-decoration: underline;
  margin: 36px auto;
  font-weight: bold;
  text-align: center;
}

.history {
  display: table;
  border-collapse: collapse;
}
.historyLabel {
  text-align: left;
  font-weight: bold;
}
.historyData {
  padding: 0 10px;
  text-align: right;
}
.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.costTable {
  border-collapse: collapse;
}
.costRow {
  padding: 6px;
}
.costLabel {
  text-align: left;
  padding: 6px;
  padding-right: 8px;
}
.costData {
  text-align: right;
}
.formRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}
.continueButton {
  border-radius: 6px;
  border: none;
  background-color: #007e26;
  color: white;
  padding: 10px 14px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.continueButton:hover {
  background-color: #00611d;
}
