:root {
  --background-color: rgb(252, 255, 252);
  --lighter-background-color: rgb(255, 255, 254);
  --darker-background-color: rgb(255, 255, 246);
  --lighter-tint-color: rgb(250, 250, 255);
  --tint-color: rgb(235, 235, 255);
  --darker-tint-color: rgb(210, 210, 255);
  --text-color: #222;
  --light-text-color: #333;
  --primary-color: #007e26;
  --darkened-primary-color: #00611d;
  --lighter-primary-color: #369f55;

  --sans-font: Arial, Helvetica, sans-serif;
  --serif-font: "Times New Roman", Times, serif;

  --dark-border: #666;
  --light-border: #999;
}

.headerContainer {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: top;
}
.headerLink {
  display: inline-block;
  max-width: 20%;
  margin: auto 0;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: auto; */
}
/* .smallerHeaderLink {
  max-height: 120px;
  width: auto;
} */
.headerImage {
  /* height: 120px;
  max-height: 12vh; */
  height: auto;
  margin: auto 0;
  max-height: 100%;
  width: 90%;
  display: block;
}
.smallHeaderImage {
  height: auto;
  width: 70%;
  max-height: 80%;
}
select {
  padding: 4px 8px;
  border-radius: 4px;
  border: 2px solid #333;
  font-size: 16px;
  background-color: var(--background-color);
  cursor: pointer;
}
select:focus,
select:focus-within {
  border-radius: 0px;
}
.bodyWrapper {
  padding: 0 1vw;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 20px;
  margin: 0;
}

.home {
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.accountContainer {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.verticalLine {
  height: 100vh;
  border: 1px solid black;
}
.header {
  font-size: 52px;
  text-align: center;
  text-decoration: none;
}
.link {
  font-size: 16px;
  text-align: center;
}
.button {
  margin: 0 12px;
  width: 100%;
  display: block;
}
.lightlyBold {
  font-weight: bold;
  color: var(--light-text-color);
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.alignLeft {
  text-align: left;
}
.tableWrapper {
  border: 2px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}
table {
  border-collapse: collapse;
  padding: 0px;
  table-layout: fixed;
}
td,
th {
  font-weight: lighter;
  padding: 8px 12px;
  border-top: 1px solid var(--light-border);
  border-bottom: 1px solid var(--light-border);
  text-align: right;
}
tbody tr {
  background-color: var(--tint-color);
}
tbody tr:nth-of-type(even) td {
  background-color: var(--darker-tint-color);
}
tbody tr:nth-of-type(odd) td {
  background-color: var(--tint-color);
}
tbody tr:first-child * {
  border-top: 0px solid var(--light-border);
}
tbody tr:last-child td {
  border-bottom: 0px solid var(--light-border);
}
tbody tr th {
  background-color: var(--lighter-tint-color);
}
em {
  font-weight: normal;
}
.homeLink {
  margin: 0 auto;
  margin-top: 32px;
  font-size: 14px;
  padding: 2px 24px;
  border-radius: 4px;
  background-color: var(--primary-color);
  text-decoration: none;
  color: var(--lighter-background-color);
  transition: background-color 0.2s;
}
.homeLink:hover {
  background-color: var(--darkened-primary-color);
  transition: background-color 0.2s;
}
.resetLink {
  margin: 32px auto;
  font-size: 20px;
  color: #666;
  transition: color .2s;
}
.resetLink:hover{
  color: #000;
  transition: color .2s;
}