.gameSummaryTable {
  border: 2px solid black;
  border-collapse: collapse;
  max-width: 100%;
}

.gameSummaryRow {
  width: 100%;
}

.nullWrapper tr {
  background-color: grey;
}

.gameSummaryHeader {
  font-size: 24px;
  font-weight: bold;
}

.gameSummaryCell {
  border-right: 1px solid black;
  font-size: 20px;
}

.weekColumn {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: flex-end;
  height: 100%;
}

.weekChangeField {
  font-size: 20px;
}

.weekChangeField select {
  height: 40px;
}

form.weekChangeField {
  margin-bottom: 18px;
}

.weekButton {
  border-radius: 6px;
  font-size: 20px;
  margin-left: 12px;
  padding: 6px 12px;
  font-weight: normal;
  background-color: transparent;
}

.teacherGamePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teacherGameColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
}