.gameSummaryTable {
  border: 2px solid black;
  border-collapse: collapse;
  max-width: 100%;
}

.gameSummaryRow {
  width: 100%;
}

.nullWrapper tr {
  background-color: grey;
}

.gameSummaryHeader {
  font-size: 24px;
  font-weight: bold;
}

.gameSummaryCell {
  border-right: 1px solid black;
  font-size: 20px;
}

.weekColumn {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: flex-end;
  height: 100%;
}

.weekChangeField {
  font-size: 20px;
}

.weekChangeField select {
  height: 40px;
}

form.weekChangeField {
  margin-bottom: 18px;
}

.weekButton {
  border-radius: 6px;
  font-size: 20px;
  margin-left: 12px;
  padding: 6px 12px;
  font-weight: normal;
  background-color: transparent;
}

.teacherGamePage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teacherGameColumnLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.teacherGameColumnRight {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.deleteWarningContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 72px 0px;
}

.deleteWarning {
  font-size: 24px;
}

.deleteOptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.deleteOptionContainer a {
  width: 40%;
}

.changePasswordContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.changePasswordContainer div * {
  margin-right: 16px;
  height: 28px;
}

.changePasswordContainer input {
  padding: 4px 8px;
}

.backRow {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

.changeTeacherPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.changeTeacherPasswordContainer input {
  margin: 24px 0;
}
.changeTeacherPasswordContainer div {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
  align-items: center;
  justify-content: space-between;
}
/* .changeTeacherPasswordContainer div label {
  margin-right: 18px;
} */

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
  height: 2%;
  margin-top: 4px;
  margin-bottom: 16px;
}

.addStudentLink {
  text-decoration: none;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
  color: black;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.addStudentLink:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.addIcon {
  height: 50%;
  width: auto;
  margin-right: 8px;
}

.setupItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.setupItem {
  margin-right: 8px;
}
