{% extends "s_base.html" %} {% block content %}
<div>
    <h1>Student Account</h1>
    {% if student.confirmed%}
    <p>Hello {{user.username}}</p>
    {% for game in games %}
        <a href="{% url 'game' game.id %}">{{game.name}}</p>
    {% endfor %}
    <a class="home_button" href="/student/logout">Logout</a>
    {% else %}
    <a class="home_button" href="/student/register"><h1>Register</h1></a>
    <a class="home_button" href="/student/login"><h1>Login</h1></a>
    {% endif %}
    {% endblock %}
</div>