{% extends "s_base.html" %} {% block content %}
<div class="accountAuth">
    <h2>New Password</h2>
    <form method="POST" class="authForm">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
        {{ form.password.label_tag }} {{ form.password }}
        {{ form.password.errors }}
        </div>
        <div>
        {{ form.confirm_password.label_tag }} {{ form.confirm_password }}
        {{ form.confirm_password.errors }}
        </div>
        <button type="submit" class="continueButton">Set Password</button>
    </form>
    {% endblock %}
</div>