{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>VTAPS Teacher</title>
    <meta name="description" content />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
  </head>
  <body>
    <div class="headerContainer">
      <a class="headerLink" href="/">
        <img class="headerImage" src="{% static 'images/VTAPS Logo.png' %}" alt="VTAPS" />
      </a>
      <a class="headerLink" href="/">
        <img class="headerImage" src="{% static 'images/UNL-TAPS Logo.png' %}" alt="VTAPS" />
      </a>
      <a class="headerLink smallerHeaderLink" href="/">
        <img class="headerImage smallHeaderImage" src="{% static 'images/4H Extension Logo.jpg' %}" alt="VTAPS" />
      </a>
      <a class="headerLink" href="/">
        <img class="headerImage" src="{% static 'images/DWEE Logo.jpg' %}" alt="VTAPS" />
      </a>
      <a class="headerLink" href="/">
        <img class="headerImage" src="{% static 'images/NARD Logo.jpg' %}" alt="VTAPS" />
      </a>
    </div>
    <div class="bodyWrapper">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
