{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="headerContainer">
      <a class="headerLink" href="/">
        <img class="headerImage" src="{% static 'images/VTAPS Logo.png' %}" alt="VTAPS" />
      </a>
      <a class="headerLink" href="/">
        <img class="headerImage" src="{% static 'images/UNL-TAPS Logo.png' %}" alt="VTAPS" />
      </a>
      <a class="headerLink smallerHeaderLink" href="/">
        <img class="headerImage smallHeaderImage" src="{% static 'images/4H Extension Logo.jpg' %}" alt="VTAPS" />
      </a>
      <a class="headerLink" href="/">
        <img class="headerImage" src="{% static 'images/DWEE Logo.jpg' %}" alt="VTAPS" />
      </a>
      <a class="headerLink" href="/">
        <img class="headerImage" src="{% static 'images/NARD Logo.jpg' %}" alt="VTAPS" />
      </a>
    </div>
    {% csrf_token %}
    <div class="home">
      {% csrf_token %}
      <div class="accountContainer">
        <h2 class="header">Account</h2>
        <a class="link button" href="/teacher"><h1>Teacher</h1></a>
        <a class="link button" href="/student"><h1>Student</h1></a>
      </div>
      <vl class="verticalLine"></vl>
      <div class="accountContainer">
        <h2 class="header">Game</h2>
        {% if not game_id %}
        <a class="homeLink" href="/game"><h1>Play Single Player Game</h1></a>
        {% else %}
        <a class="homeLink" href="/game"><h1>Return Player Game</h1></a>
        <a class="resetLink" href="/reset">RESET GAME</a>

        {% endif %}
      </div>
      <!-- <a class="resetLink" href="/download">Download Results</a> -->
    </div>
  </body>
</html>
