<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teacher</title>
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href>
    </head>
    <body>
        <h2>We were unable to send an email to that address, either because the account already exists or because of an internal error. Try again later.</h2>
        <a href="/teacher">Return to Login/Register page</a>
    </body>
</html>