{% extends "singleplayer/base.html" %} {% block content %}
<style>
    .row {
        display: flex;
        flex-direction: row;
        width: 15%;
        justify-content: space-between;
    }
</style>

<div>
  <div class="row">
    <p>Irrigation Cost:</p>
    <p>${{irr_cost}}</p>
  </div>
  <div class="row">
    <p>Fertilizer Cost:</p>
    <p>${{fert_cost}}</p>  
  </div>
  <div class="row">
    <p>Other Costs:</p>
    <p>${{other_costs}}</p>  
  </div>
  <div class="row">
    <p>Total Cost:</p>
    <p>${{total_cost}}</p>
  </div>
  <div class="row">
    <p>Total Yield:</p>
    <p>{{yield}} bushels</p>
  </div>
  <div class="row">
    <p>Cost per Bushel:</p>
    <p>${{bushel_cost}}</p>
  </div>
</div>

{% endblock %}
