{% extends "singleplayer/base.html" %}

{% block content %}
<h1>Home Page</h1>
<p>Some stuff about how the game works, Some stuff about how the game works,
    Some stuff about how the game works, Some stuff about how the game works,
    Some stuff about how the game works, Some stuff about how the game works,
    Some stuff about how the game works, Some stuff about how the game works,
    Some stuff about how the game works, Some stuff about how the game works,
    Some stuff about how the game works, Some stuff about how the game works,
    Some stuff about how the game works, Some stuff about how the game works,
    Some stuff about how the game works, Some stuff about how the game works,
    Some stuff about how the game works, Some stuff about how the game works</p>
<a href="/singleplayer/hybrid">Click here to continue</a>
{% endblock %}