{% extends "game/base.html" %} {% block content %}
<div class="weeklySection">
  {% csrf_token %} {% if game_id != None %}
  <div class="gameAccountHeader">
    <div class="column">
      <p class="className">{{ username }}</p>
      <p class="className marginLeft">Class: {{ game_name }}</p>
    </div>
    <a href="/student/logout" class="logoutButton">Logout</a>
  </div>
  {% endif %}
  <div class="caughtUpText">
    <p class="caughtUpText">We apologize, but somehow the game became corrupted</p>
    <p class="caughtUpText">Please log out and start a new game</p>
  </div>
</div>
{% endblock %}
