{% extends "game/base.html" %} {% block content %}
<style>
    .body {
      display: flex;
      flex-direction: row;
      padding: 0 3vw
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .graphContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .graphs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
    }
</style>

<div class="body">
  <div>
    <div class="row">
      <p>Irrigation Cost: </p>
      <p>${{irr_cost}}</p>
    </div>
    <div class="row">
      <p>Fertilizer Cost: </p>
      <p>${{fert_cost}}</p>  
    </div>
    <div class="row">
      <p>Other Costs: </p>
      <p>${{other_costs}}</p>  
    </div>
    <div class="row">
      <p>Total Cost: </p>
      <p>${{total_cost}}</p>
    </div>
    <div class="row">
      <p>Total Yield: </p>
      <p>{{yield}}b</p>
    </div>
    <div class="row">
      <p>Cost per Bushel: </p>
      <p>${{bushel_cost}}/b</p>
    </div>
  </div>
  <div class="graphContainer">
    <div class="graphContainer">
      <h1>Results</h1>
      <div class="graphs">
        <div>{{ aquaspy_graph | safe }}</div>
        <div>{{ nitrogen_stress_graph | safe }}</div>
      </div>
    </div>
    <div class="graphContainer">
      <h1>Control</h1>
      <div class="graphs">
        <div>{{ control_aquaspy_graph | safe }}</div>
        <div>{{ control_nitrogen_stress_graph | safe }}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
