{% extends "game/base.html" %} {% block content %} {% load static %}
<div class="finalSelection">
  <div class="finalInfoContainer">
    <div class="tableWrapper">
      <table class="finalTable">
        <tr class="infoRow">
          <td class="alignLeft">Irrigation Cost:</td>
          <td>${{irr_cost|floatformat:2}}</td>
        </tr>
        <tr class="infoRow">
          <td class="alignLeft">Fertilizer Cost:</td>
          <td>${{fert_cost|floatformat:2}}</td>
        </tr>
        <tr class="infoRow">
          <td class="alignLeft">Other Costs:</td>
          <td>${{other_costs|floatformat:2}}</td>
        </tr>
        <tr class="infoRow">
          <td class="alignLeft">Total Cost:</td>
          <td>${{total_cost|floatformat:2}}</td>
        </tr>
        <tr class="infoRow">
          <td class="bold alignLeft">Total Yield:</td>
          <td class="bold">{{yield|floatformat:2}}b</td>
        </tr>
        <tr class="infoRow">
          <td class="bold alignLeft">Cost per Bushel:</td>
          <td class="bold">${{bushel_cost|floatformat:2}}/b</td>
        </tr>
        <tr class="infoRow">
          <td class="bold alignLeft">WNIPI:</td>
          <td class="bold">{{WNIPI|floatformat:2}}</td>
        </tr>
      </table>
    </div>
    <div class="tableWrapper">
      <table class="finalTable">
        <tr class="infoRow">
          <td class="alignLeft">Total Rainfall:</td>
          <td>{{rain_amount|floatformat:2}}in.</td>
        </tr>
        <tr class="infoRow">
          <td class="alignLeft">Total ET:</td>
          <td>{{et_amount|floatformat:2}}in.</td>
        </tr>
        <tr class="infoRow">
          <td class="alignLeft">Total Irrigation:</td>
          <td>{{irr_amount|floatformat:2}}in.</td>
        </tr>
        <tr class="infoRow">
          <td class="alignLeft">Total Fertilizer:</td>
          <td>{{fert_amount|floatformat:0}}lbs.</td>
        </tr>
      </table>
    </div>
    <!-- <a class="downloadButton" href="/game/download">
      <img class="downloadIcon" src="{% static 'images/download-icon.svg' %}" alt="" />
      Download Results
    </a> -->
  </div>
  <div class="graphContainer">
    <div class="graphSubContainer">
      <h1 class="underline">Results</h1>
      <div class="graph">{{ aquaspy_graph | safe }}</div>
    </div>
    <div class="graphSubContainer">
      <h1 class="underline">Control</h1>
      <div class="graph">{{ control_aquaspy_graph | safe }}</div>
    </div>
  </div>
</div>

{% endblock %}
