{% extends "game/base.html" %} {% block content %}
<div>
  <form action="" method="post">
    {% csrf_token %}
    <div class="formContainer">
      <div class="hybridForm">
        <p>Select your hybrid</p>
        {{ hybrid_form }}
      </div>
      <div class="fertForm">
        <p>Enter Fertilizer Choices</p>
        <p>These can be changed later</p>
        {{ fert_form }}
      </div>
    </div>
    <input type="submit" value="Continue" />
  </form>
</div>

{% endblock %}
