{% extends "game/base.html" %} {% block content %} {% load static %} 
{% csrf_token %} {% if game_id != None %}
<div class="gameAccountHeader">
  <div class="column">
    <p class="className">{{ username }}</p>
    <p class="className marginLeft">Class: {{ game_name }}</p>
  </div>
  <a href="/student/logout" class="logoutButton">Logout</a>
</div>
{% endif %}
<div>
  <form
    action=""
    method="post"
    onsubmit="this.querySelector('.continueButton').disabled = true;"
  >
    {% csrf_token %}
    <div class="formContainer">
      <div class="hybridForm">
        <h1>Hybrid Selection</h1>
        <div class="hybridContainer">{{ hybrid_form }}</div>
        <div class="column">
          <h3>Hybrid Info</h3>
          <a
            href="{% static 'pdfs/213-19VT2PRIB.pdf' %}"
            target="_blank"
            rel="noopener"
            >Channel213-19VT2PRIB</a
          >
          <a
            href="{% static 'pdfs/Fontanelle 11D637.pdf' %}"
            target="_blank"
            rel="noopener"
            >Fontanelle 11D637</a
          >
          <a
            href="{% static 'pdfs/Pioneer 801.pdf' %}"
            target="_blank"
            rel="noopener"
            >Pioneer 0801AM</a
          >
          <a
            href="{% static 'pdfs/Pioneer P1197AM.pdf' %}"
            target="_blank"
            rel="noopener"
            >Pioneer 1197AM</a
          >
          <a
            href="{% static 'pdfs/P1366AML.pdf' %}"
            target="_blank"
            rel="noopener"
            >Pioneer 1366AML</a
          >
          <a
            href="{% static 'pdfs/P1185AM.pdf' %}"
            target="_blank"
            rel="noopener"
            >Pioneer 1185AM</a
          >
        </div>
      </div>
      <div class="fertForm">
        <h1 class="fertilizerH1">Fertilizer Pre-Selection</h1>
        <p class="italic">Can be changed later</p>
        <div class="fertContainer">
          <div class="fertRow">
            <div>{{ fert_form.week1.label_tag }}</div>
            <div class="fertSelectRow">
              <div class="fertSelect">{{ fert_form.week1 }}</div>
              <div>lbs/acre</div>
            </div>
          </div>
          <div class="fertRow">
            <div>{{ fert_form.week6.label_tag }}</div>
            <div class="fertSelectRow">
              <div class="fertSelect">{{ fert_form.week6 }}</div>
              <div>lbs/acre</div>
            </div>
          </div>
          <div class="fertRow">
            <div>{{ fert_form.week9.label_tag }}</div>
            <div class="fertSelectRow">
              <div class="fertSelect">{{ fert_form.week9 }}</div>
              <div>lbs/acre</div>
            </div>
          </div>
          <div class="fertRow">
            <div>{{ fert_form.week10.label_tag }}</div>
            <div class="fertSelectRow">
              <div class="fertSelect">{{ fert_form.week10 }}</div>
              <div>lbs/acre</div>
            </div>
          </div>
          <div class="fertRow">
            <div>{{ fert_form.week12.label_tag }}</div>
            <div class="fertSelectRow">
              <div class="fertSelect">{{ fert_form.week12 }}</div>
              <div>lbs/acre</div>
            </div>
          </div>
          <div class="fertRow">
            <div>{{ fert_form.week14.label_tag }}</div>
            <div class="fertSelectRow">
              <div class="fertSelect">{{ fert_form.week14 }}</div>
              <div>lbs/acre</div>
            </div>
          </div>
          <div class="fertRow">
            <div>{{ fert_form.week15.label_tag }}</div>
            <div class="fertSelectRow">
              <div class="fertSelect">{{ fert_form.week15 }}</div>
              <div>lbs/acre</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input class="continueButton" type="submit" value="Continue" />
  </form>
</div>

{% endblock %}
