{% extends "game/base.html" %}
{% block content %}
  {% csrf_token %} {% if game_id != None %}
  <div class="gameAccountHeader">
    <div class="row center">
      <p class="className">Room: {{ game_name }}</p>
    </div>
    <a href="/student/logout" class="logoutButton">Logout</a>
  </div>
  {% endif %}
<h1>Introduction</h1>

<p class="introText">
  The Virtual Testing Ag Performance Solutions (VTAPS) has been modeled
  around the highly successful TAPS (<a href="https://taps.unl.edu">taps.unl.edu</a>) program. In the TAPS
  program farmers and other participants make a series of management decisions
  as they respond to field, agronomic and technology based information. At the
  end of the growing season, the TAPS participants see how they compare (rank)
  against other participants in terms of profitability, irrigation and nitrogen
  efficiency and crop yield. The TAPS program has helped participants in the
  self-realization of management changes that need to be improved and
  participants have adopted new technology and management practices on their
  farming operation.
</p>

<p class="introText">
  The VTAPS program was developed so that high school ag students, and others,
  could have a similar TAPS experience. VTAPS participants will select the
  hybrid and seeding rate they wish to plant. They will also be able to apply
  nitrogen fertilizer <em>(at $0.60 per pound)</em> for pre-plant
  <em>($8.50 application cost)</em>, sidedress <em>($8.50 application cost)</em>
  and five fertigation applications <em>($1.25 application cost)</em>.
  Participants will also be able to apply irrigation water
  <em>($6.10 per acre-inch)</em> twice during each week of the simulation
  <em>(maximum of 1.0 inches per application)</em>. Other costs such as
  machinery, materials, land taxes and opportunity costs amount to
  <em>$745</em>. A complete budget is available at
  <a href="https://taps.unl.edu/budget">taps.unl.edu/budget</a>. All the decisions and generated weather
  information will be fed into a crop simulation model—Decision Support System
  for Agrotechnology Transfer (DSSAT)—and results will be included in a weekly
  summary. Participants will also have soil-moisture sensor information
  showing soil moisture at various depths of the soil profile.
</p>

<p class="introText">
  At the end of week 24 participants will be able to see their final yield, cost
  of production <em>($/bushel)</em> and nitrogen and irrigation efficiency
  <em>(Water × Nitrogen Intensification Performance Index – WNIPI, Lo et al., 2019)</em>.
  In a group simulation such as a crop production class, participants will see how
  they rank in these same categories, allowing them to self-realize what areas
  of their management decisions are the strongest and which ones could use some
  improvement. Participants will also be able to see how much nitrogen has
  potentially leached below the root zone. The single-player version of VTAPS
  will allow participants to try to improve their yield, cost of production and
  nitrogen and irrigation application efficiency with additional simulations.
</p>

<a class="continueButton" href="{{ game_url }}">Continue</a>
{% endblock %}