{% extends "game/base.html" %} {% block content %}
<div class="weeklySection">
  {% csrf_token %} {% if game_id != None %}
  <div class="gameAccountHeader">
    <div class="column">
      <p class="className">{{ username }}</p>
      <p class="className marginLeft">Class: {{ game_name }}</p>
    </div>
    <a href="/student/logout" class="logoutButton">Logout</a>
  </div>
  {% endif %}
  <div class="titleContainer">
    <p class="title">Week {{week}}/21</p>
    <p class="subTitle">Next week forecast</p>
  </div>
  <div class="divRow">
    <div class="column weatherRow">
      <h1 class="date">{{weather.0.day|linebreaksbr}}</h1>
      <div class="column weatherBox">
        <div class="column wide">
          <div class="weatherItem">
            <span class="redItem bold weatherSubItem">High:</span>
            <span class="redItem bold"
              >{{weather.0.tHigh|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="blueItem bold weatherSubItem">Low:</span>
            <span class="blueItem bold"
              >{{weather.0.tLow|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="italic weatherSubItem">Rain:</span>
            <span class="italic">{{weather.0.pRain|floatformat:2}} in.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="column weatherRow">
      <h1 class="date">{{weather.1.day|linebreaksbr}}</h1>
      <div class="column weatherBox">
        <div class="column wide">
          <div class="weatherItem">
            <span class="redItem bold weatherSubItem">High:</span>
            <span class="redItem bold"
              >{{weather.1.tHigh|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="blueItem bold weatherSubItem">Low:</span>
            <span class="blueItem bold"
              >{{weather.1.tLow|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="italic weatherSubItem">Rain:</span>
            <span class="italic">{{weather.1.pRain|floatformat:2}} in.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="column weatherRow">
      <h1 class="date">{{weather.2.day|linebreaksbr}}</h1>
      <div class="column weatherBox">
        <div class="column wide">
          <div class="weatherItem">
            <span class="redItem bold weatherSubItem">High:</span>
            <span class="redItem bold"
              >{{weather.2.tHigh|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="blueItem bold weatherSubItem">Low:</span>
            <span class="blueItem bold"
              >{{weather.2.tLow|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="italic weatherSubItem">Rain:</span>
            <span class="italic">{{weather.2.pRain|floatformat:2}} in.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="column weatherRow">
      <h1 class="date">{{weather.3.day|linebreaksbr}}</h1>
      <div class="column weatherBox">
        <div class="column wide">
          <div class="weatherItem">
            <span class="redItem bold weatherSubItem">High:</span>
            <span class="redItem bold"
              >{{weather.3.tHigh|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="blueItem bold weatherSubItem">Low:</span>
            <span class="blueItem bold"
              >{{weather.3.tLow|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="italic weatherSubItem">Rain:</span>
            <span class="italic">{{weather.3.pRain|floatformat:2}} in.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="column weatherRow">
      <h1 class="date">{{weather.4.day|linebreaksbr}}</h1>
      <div class="column weatherBox">
        <div class="column wide">
          <div class="weatherItem">
            <span class="redItem bold weatherSubItem">High:</span>
            <span class="redItem bold"
              >{{weather.4.tHigh|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="blueItem bold weatherSubItem">Low:</span>
            <span class="blueItem bold"
              >{{weather.4.tLow|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="italic weatherSubItem">Rain:</span>
            <span class="italic">{{weather.4.pRain|floatformat:2}} in.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="column weatherRow">
      <h1 class="date">{{weather.5.day|linebreaksbr}}</h1>
      <div class="column weatherBox">
        <div class="column wide">
          <div class="weatherItem">
            <span class="redItem bold weatherSubItem">High:</span>
            <span class="redItem bold"
              >{{weather.5.tHigh|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="blueItem bold weatherSubItem">Low:</span>
            <span class="blueItem bold"
              >{{weather.5.tLow|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="italic weatherSubItem">Rain:</span>
            <span class="italic">{{weather.5.pRain|floatformat:2}} in.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="column weatherRow">
      <h1 class="date">{{weather.6.day|linebreaksbr}}</h1>
      <div class="column weatherBox">
        <div class="column wide">
          <div class="weatherItem">
            <span class="redItem bold weatherSubItem">High:</span>
            <span class="redItem bold"
              >{{weather.6.tHigh|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="blueItem bold weatherSubItem">Low:</span>
            <span class="blueItem bold"
              >{{weather.6.tLow|floatformat:1}}&deg;F</span
            >
          </div>
          <div class="weatherItem">
            <span class="italic weatherSubItem">Rain:</span>
            <span class="italic">{{weather.6.pRain|floatformat:2}} in.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="infoContainer">
    <div class="tableWrapper">
      <table class="historyTable">
        <tr>
          <th class="historyLabel"></th>
          <th class="historyData">PAST WEEK</th>
          <th class="historyData">TOTAL</th>
        </tr>
        <tr class="tableRow">
          <td class="historyLabel lightlyBold">Rainfall</td>
          <td class="historyData">{{weekly_rain|floatformat:2}} in.</td>
          <td class="historyData">{{total_rain|floatformat:2}} in.</td>
        </tr>
        <tr>
          <td class="historyLabel lightlyBold">Evapotranspiration</td>
          <td class="historyData">{{weekly_et|floatformat:2}} in.</td>
          <td class="historyData">{{total_et|floatformat:2}} in.</td>
        </tr>
        <tr>
          <td class="historyLabel lightlyBold">Irrigation</td>
          <td class="historyData">{{weekly_irr|floatformat:2}} in.</td>
          <td class="historyData">{{total_irr|floatformat:2}} in.</td>
        </tr>
        <tr>
          <td class="historyLabel lightlyBold">Fertilizer</td>
          <td class="historyData">{{weekly_fert|floatformat:0}} lbs.</td>
          <td class="historyData">{{total_fert|floatformat:0}} lbs.</td>
        </tr>
        <tr>
          <td class="historyLabel lightlyBold">Nitrogen Leached</td>
          <td class="historyData">{{weekly_Nleach|floatformat:2}} in.</td>
          <td class="historyData">{{total_Nleach|floatformat:2}} in.</td>
        </tr>
        <tr>
          <td class="historyLabel lightlyBold">Growth Stage</td>
          <td class="historyData"></td>
          <td class="historyData">{{gdu}}</td>
        </tr>
      </table>
    </div>

    <div class="tableWrapper">
      <table class="costTable">
        <tr class="costRow">
          <td class="costLabel">Seed Cost:</td>
          <td class="costData">${{seed_cost|floatformat:2}}</td>
        </tr>
        <tr class="costRow">
          <td class="costLabel">Irrigation Cost:</td>
          <td class="costData">${{irr_cost|floatformat:2}}</td>
        </tr>
        <tr class="costRow">
          <td class="costLabel">Fertilizer Cost:</td>
          <td class="costData">${{fert_cost|floatformat:2}}</td>
        </tr>
        <tr class="costRow">
          <td class="costLabel">Other Costs:</td>
          <td class="costData">${{other_costs|floatformat:2}}</td>
        </tr>
        <tr class="costRow">
          <td class="costLabel lightlyBold">Total Cost:</td>
          <td class="costData lightlyBold">${{total_cost|floatformat:2}}</td>
        </tr>
        <tr class="costRow">
          <td class="costLabel italic">Cost Per Bushel:</td>
          <td class="costData italic">${{bushel_cost|floatformat:2}}</td>
        </tr>
      </table>
    </div>
  </div>

  <form
    action=""
    method="post"
    class="formRow"
    onsubmit="this.querySelector('.continueButton').disabled = true"
  >
    <div class="subRow">
      <div class="inputRow">
        <p class="irrigationLabel">Monday Irrigation:</p>
        <p class="irrigationField">{{iform.monday}} in.</p>
      </div>

      <div class="inputRow">
        <p class="irrigationLabel">Thursday Irrigation:</p>
        <p class="irrigationField">{{iform.thursday}} in.</p>
      </div>

      {% csrf_token %} {% if week == 1 or week == 6 or week == 9 or week == 10 or week == 12 or week == 14 or week == 15 %}
      <div class="inputRow">
        <p class="irrigationLabel">Week {{week}} Fertilizer:</p>
        <p class="irrigationField">{{fform.fertilizer}} lbs</p>
      </div>
      {% endif %}
    </div>

    <input type="submit" value="Continue" class="continueButton" />
  </form>
  {% if week > 1 %}
  <hr />
  <div class="column wide">
    <p class="title">Graphs</p>
    <div class="graphContainer">
      <div class="graphs">
        <div>{{ aquaspy_graph | safe }}</div>
        <div>{{ water_layer_graph | safe }}</div>
        <div>{{ root_depth_graph | safe }}</div>
        <div>{{ nitrogen_stress_graph | safe }}</div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
