{% extends "game/base.html" %} {% block content %}
<div>
  <style type="text/css">
    .row {
      display: flex;
      flex-direction: row;
    }
    .weatherRow {
      justify-content: space-between;
      margin-bottom: 16px;
      width: 400px;
    }
    .column {
      display: flex;
      flex-direction: column;
    }
    .weatherBox {
      border: 1px solid black;
      align-items: left;
      padding: 0px 16px;
      margin: 8px 0;
    }
    .weatherItem {
      padding: 0px 4px;
      display: flex;
      flex-direction: row;
    }
    .redItem {
      color: red;
    }
    .blueItem {
      color: blue;
    }
    .bolded {
      font-weight: bold;
      margin-right: 10px;
    }
    .selectionRow {
      width: 400px;
    }
    .weeklySection {
      padding: 0px 3vw;
      align-items: center;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .date {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 4px;
    }
    .irrigationLabel {
      margin-right: 10px;
    }
    .graphs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
    }
    .graphContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .weatherHistory {
      border: 1px solid black;
      display: table;
      padding: 2px;
    }
    .weatherContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .infoContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    th,
    td {
      text-align: center;
    }
  </style>

  <h1>WEEK {{week}}</h1>
  <div class="weeklySection">
    <form action="" method="post">
      {% csrf_token %} 
      {% if week == 1 or week == 6 or week == 9 or week == 10 or week == 12 or week == 14 or week == 15 %}
      <div class="row selectionRow">
        <p class="irrigationLabel">Fertilizer:</p>
        <p class="irrigationField">{{fform.fertilizer}} lbs</p>
      </div>
      {% endif %}
      <div>Total Irrigation Costs: ${{irr_cost}}</div>
      <div>Total Fertilizer Costs: ${{fert_cost}}</div>
      <div>Other Costs: ${{other_costs}}</div>
      <div>Total Cost: ${{total_cost}}</div>
      <div>Cost per Bushel: ${{bushel_cost}}</div>
      <div class="column weatherRow">
        <h1 class="date">{{weather.0.day}}</h1>
        <div class="column weatherBox">
          <div class="column">
            <div class="weatherItem">
              <p class="redItem bolded">High Temperature:</p>
              <p class="redItem">{{weather.0.tHigh}}&deg;F</p>
            </div>
            <div class="weatherItem">
              <p class="blueItem bolded">Low Temperature:</p>
              <p class="blueItem">{{weather.0.tLow}}&deg;F</p>
            </div>
          </div>
          <p class="weatherItem">Expected Rainfall: {{weather.0.pRain}} in.</p>
        </div>
        <div class="row selectionRow">
          <p class="irrigationLabel">Daily Irrigation:</p>
          <p class="irrigationField">{{iform.monday}} in.</p>
        </div>
      </div>

      <div class="column weatherRow">
        <h1 class="date">{{weather.1.day}}</h1>
        <div class="column weatherBox">
          <div class="column">
            <div class="weatherItem">
              <p class="redItem bolded">High Temperature:</p>
              <p class="redItem">{{weather.1.tHigh}}&deg;F</p>
            </div>
            <div class="weatherItem">
              <p class="blueItem bolded">Low Temperature:</p>
              <p class="blueItem">{{weather.1.tLow}}&deg;F</p>
            </div>
          </div>
          <p class="weatherItem">Expected Rainfall: {{weather.1.pRain}} in.</p>
        </div>
      </div>

      <div class="column weatherRow">
        <h1 class="date">{{weather.2.day}}</h1>
        <div class="column weatherBox">
          <div class="column">
            <div class="weatherItem">
              <p class="redItem bolded">High Temperature:</p>
              <p class="redItem">{{weather.2.tHigh}}&deg;F</p>
            </div>
            <div class="weatherItem">
              <p class="blueItem bolded">Low Temperature:</p>
              <p class="blueItem">{{weather.2.tLow}}&deg;F</p>
            </div>
          </div>
          <p class="weatherItem">Expected Rainfall: {{weather.2.pRain}} in.</p>
        </div>
      </div>

      <div class="column weatherRow">
        <h1 class="date">{{weather.3.day}}</h1>
        <div class="column weatherBox">
          <div class="column">
            <div class="weatherItem">
              <p class="redItem bolded">High Temperature:</p>
              <p class="redItem">{{weather.3.tHigh}}&deg;F</p>
            </div>
            <div class="weatherItem">
              <p class="blueItem bolded">Low Temperature:</p>
              <p class="blueItem">{{weather.3.tLow}}&deg;F</p>
            </div>
          </div>
          <p class="weatherItem">Expected Rainfall: {{weather.3.pRain}} in.</p>
        </div>
        <div class="row selectionRow">
          <p class="irrigationLabel">Daily Irrigation:</p>
          <p class="irrigationField">{{iform.thursday}} in.</p>
        </div>
      </div>

      <div class="column weatherRow">
        <h1 class="date">{{weather.4.day}}</h1>
        <div class="column weatherBox">
          <div class="column">
            <div class="weatherItem">
              <p class="redItem bolded">High Temperature:</p>
              <p class="redItem">{{weather.4.tHigh}}&deg;F</p>
            </div>
            <div class="weatherItem">
              <p class="blueItem bolded">Low Temperature:</p>
              <p class="blueItem">{{weather.4.tLow}}&deg;F</p>
            </div>
          </div>
          <p class="weatherItem">Expected Rainfall: {{weather.4.pRain}} in.</p>
        </div>
      </div>

      <div class="column weatherRow">
        <h1 class="date">{{weather.5.day}}</h1>
        <div class="column weatherBox">
          <div class="column">
            <div class="weatherItem">
              <p class="redItem bolded">High Temperature:</p>
              <p class="redItem">{{weather.5.tHigh}}&deg;F</p>
            </div>
            <div class="weatherItem">
              <p class="blueItem bolded">Low Temperature:</p>
              <p class="blueItem">{{weather.5.tLow}}&deg;F</p>
            </div>
          </div>
          <p class="weatherItem">Expected Rainfall: {{weather.5.pRain}} in.</p>
        </div>
      </div>

      <div class="column weatherRow">
        <h1 class="date">{{weather.6.day}}</h1>
        <div class="column weatherBox">
          <div class="column">
            <div class="weatherItem">
              <p class="redItem bolded">High Temperature:</p>
              <p class="redItem">{{weather.6.tHigh}}&deg;F</p>
            </div>
            <div class="weatherItem">
              <p class="blueItem bolded">Low Temperature:</p>
              <p class="blueItem">{{weather.6.tLow}}&deg;F</p>
            </div>
          </div>
          <p class="weatherItem">Expected Rainfall: {{weather.6.pRain}} in.</p>
        </div>
      </div>

      <input type="submit" value="Continue" />
    </form>
    {% if week > 1 %}
    <div class="infoContainer">
      <div class="graphContainer">
        <h2>Graphs</h2>
        <div class="graphs">
          <div>{{ aquaspy_graph | safe }}</div>
          <div>{{ water_layer_graph | safe }}</div>
          <div>{{ root_depth_graph | safe }}</div>
          <div>{{ growth_stage_graph | safe }}</div>
          <div>{{ nitrogen_stress_graph | safe }}</div>
        </div>
      </div>
      <div class="weatherContainer">
        <h2>Weather History</h2>
        <table class="weatherHistory">
          <tr>
            <th>Day</th>
            <th>High</th>
            <th>Low</th>
            <th>Rain</th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>Forecasted High</th>
            <th>Forecasted Low</th>
            <th>Forecasted Rain</th>
          </tr>
          {% for day in weather_history %}
          <tr>
            <td>{{ day.day }}</td>
            <td>{{ day.high }}</td>
            <td>{{ day.low }}</td>
            <td>{{ day.rain}}</td>
            <td></td>
            <td>{{ day.forecast_high }}</td>
            <td>{{ day.forecast_low }}</td>
            <td>{{ day.forecast_rain }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}
  </div>
  {% endblock %}
</div>
